meson-configure.txt
xed_src
test_files
restore-tabs

*.pot
*.mo
*.deb
*.ddeb

build
config.*
aclocal.m4
autom4te.cache
ChangeLog
configure
INSTALL
libtool
m4
stamp-h1
*.pc
.tarball-version
.version
debian/build
debian/tmp
debian/xed-restore-tabs-plugin
debian/.debhelper
debian/xed-restore-tabs-plugin.substvars
debian/xed-restore-tabs-plugin.debhelper.log
debian/files

*.gcda
*.gcno
coverage
lcov.info

tests/_test

*~
.DS_Store
.vscode
Makecache
